    
{% extends "base.html" %}

{% block content %}
    <h1>Add Blog Entry</h1>
    <br>
    <form method='post'>
        <label>Title:
            <br>
            <input type="text" name='blog-title' value="{{blog_title}}">
        </label>
        <p class="error">{{title_error}}</p>
        <label>Blog Entry:
            <br>
            <textarea name="blog-entry" style="width:700px; height:125px;">{{blog_body}}</textarea>
        </label>
        <p class="error">{{body_error}}</p>
        <input type="submit" value='Add Entry'>
    </form>
{% endblock %}   